/*  Olive Green #4B443C
    Burgundy #4D0011
    Gunmetal Gray #53565A
    Cool Gray #E4E5E8*/

body{
    font-family: 'Arimo', 'Times New Roman', Times, serif;
    margin: 0% auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #E4E5E8;
    max-width: 1200px;
    height: 100%;
}

.inline-block{
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #4D0011;
    text-decoration-thickness: 5px;
}

nav{
    float: right;
    text-align: right;
    padding: 10px;
}

button{
    background-color: #4B443C;
    color: white;
    padding: 5px;
    border-radius: 10%;
}

.heroImg{
    margin: 0;
    height: 300px;
    padding: 10px;
}

#hero{
    height: 200px;
}

.content{
    width: 500px;
    font-size: 48px;
}

.workGrid{
    display: grid;
    margin: 10px;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "shareJet FYA";
}

.caseStudy{
    text-align: center;
    height: 80%;
    font-size: 16px;
    font-weight: bold;
    margin: 50px;
    padding: 10px;
    border-left: 5px solid #4B443C;
    border-bottom: 10px solid #4D0011;
}

.caseStudy img{
    height: 200px;
}

.description{
    text-align: center;
    margin: 10px;
}

footer{
    margin: 0;
    background-color: #4D0011;
    color: white;
}

footer > ul{
    margin: 0;
    padding: 20px;
}

@media only screen and (max-width: 750px) 
{
    #navigation{
        display: none;
      }
    
    .heroImg{
        text-align: center;
    }
    
    .content{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .workGrid{
        grid-template-rows: 400px 400px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "shareJet"
        "FYA";
    }

    .caseStudy{
        height: 500px;
    }

    footer > ul{
        text-align: center;
    }
}